@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
    box-sizing: border-box;
    overflow: none;
    margin:0;
}
.container {
    position: absolute;
    padding:0;
    z-index: -1000;
    width: 100%; height: 100vh; overflow: hidden;
    overflow:none;
    margin:0;
    }
    
    .myVideo {
        position:fixed;overflow: hidden;
        bottom:0;
        left:0;
    }

body {
    font: 700 14px/1 'Red Hat Text', sans-serif;
    background: url('../images/bg-stars.svg'), hsl(249, 18%, 12%);
    height: 100vh;
}

main {
    height: 100vh;
    background: url(../images/pattern-hills.svg) no-repeat 0 bottom;
    background-size: contain;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15vh;
    position: relative;
    display: flex;
}
#temp{
    display:flex;
}
h1 {
    font-size: 1.5em;
    margin: 19px 0 109px;
    letter-spacing: 8px;
    color: #fff;
    text-transform: uppercase;
}

.countdown {
    display: flex;
    flex-flow: row nowrap;
}

.title {
    color: hsl(237, 18%, 59%);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 6px;
}
#id{
    display: block;
}

.countdown-block {
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    display: flex;
}

.time-elem {
    position: relative;
    color: hsl(345, 95%, 68%);
    position: relative;
    height: 140px;
    width: 150px;
    background-color: hsl(235, 20%, 25%);
    border-radius: 8px;
    text-align: center;
    font-size: 5.5em;
    overflow: hidden;
    margin-bottom: 27px;
    line-height: 138px;
    box-shadow: 0px 8px 0px 0px #16151d;
}

.time-elem::before, .time-elem::after {
    content: '';
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    background: hsl(240, 12%, 16%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.time-elem::before {
    left: -5px;
}

.time-elem::after {
    right: -5px;
}


.time-elem > span {
    position: absolute;
    left: 0;
    right: 0;
}

.top {
    z-index: 3;
    background-color: hsl(240, 21%, 21%);
    transform-origin: 50% 100%;
    transform: perspective(200px);
}

.time-elem .top::after, .time-elem .bottom-back::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid hsl(240, 12%, 16%);
}

.bottom {
    z-index: 1;
}

.bottom::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: hsl(235, 20%, 25%);
}

.bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: hsl(235, 20%, 25%);
}

.bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top, .top-back {
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.top-back {
    z-index: 4;
    bottom: 0;
    transform-origin: 50% 0;
    background-color: hsl(235, 20%, 25%);
    transform: perspective(200px) rotateX(180deg);
}

.top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

.social {
    position: absolute;
    bottom: 56px;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    padding: 0;
}

.social li {
    margin-right: 32px;
}

.social li a path {
    transition: fill .3s ease;
}

.social li:last-child {
    margin-right: 0; 
}

.social a:hover path{
    fill:  hsl(345, 95%, 68%);;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 8px;
    }

    main {
        padding-top: 18vh;
    }

    h1 {
        font-size: 2.2em;
        margin: 24px 0 56px;
        letter-spacing: 6px;
        padding: 0 20px;
        line-height: 22px;
        text-align: center;
    }

    .countdown-block {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }

    .title {
        font-size: 0.9em;
        letter-spacing: 3px;
    }

    .time-elem {
        height: 66px;
        width: 70px;
        font-size: 4.5em;
        line-height: 66px;
        margin-bottom: 17px;
    }

    .social {
        bottom: 39px;
    }
}